body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

.boite{
    display: flex;
    justify-content: center;
    
}

hr{
    height: 2px;
    background-color: black;
}

.element{
    padding: 16px;
}

main{
    border: solid 2px blue;
    padding: 42px;
    width: 800px;
}

form{
    display: flex;
}

.poubelle{
    display: flex;
    flex-direction: column;
}

button{
    color: blue;
    border-color: blue;
}

#prenom, #age{
    border-color: blue;
}

.highlight {
  color: blue;
  font-weight: bold;
}

