body{
    text-align: center;
}
.contenaire{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contenaire p{
    margin-left: 15px;
}

#texte{
    margin-top: 5em;
    
}

