/* Couleurs inspirées de l'image */
body {
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  background-color: #d2b8a9;
  margin: 0;
  padding: 40px;
}

.container {
  border: 1px solid #876e6b;
  padding: 20px;
  width: 800px;
  margin: auto;
  background-color: #d2b8a9;
  box-sizing: border-box;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



h1 {
  color: #6b4a4a;
  font-size: 1.5em;
  margin-bottom: 20px;
}

fieldset.identification {
  border: 1px dashed #6f6d5e;
  padding: 20px;
}

legend {
  color: #6b4a4a;
  font-weight: bold;
  padding: 0 10px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  flex: 1;
  color: #6b4a4a;
}

input {
  flex: 1;
  padding: 5px;
  border: 1px solid #897f70;
  background-color: #cbb8a6;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #cbb8a6;
  border: 1px solid #897f70;
  color: #5e4a4a;
  cursor: pointer;
}

#message {
  display: none;
}

#message.active {
  display: block;
  border:  1px solid #999B86;
  background-color: #C1AE9F;
  padding: 20px;
  align-content: center;
  color: #886174;
}


#form.hidden{
  display: none;
}

#connecter{
  display: none;
}

#connecter.active{
  display: block;
}

table{
  margin-top: 20px;
  text-align: center;
  background-color: #C1AE9F;
}

th, td {
  border: #969984 solid 1px;
  color: #504545;
}

thead{
  color : #715B64;
}